@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    color: white;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #18191a, #2b556b);


}

.calculator{
    border: 1px solid #c0c7cf;
    border-radius: 20px;
    padding: 30px;
    background: transparent;
    box-shadow: 0px 3px 20px rgba(255,255, 255, 0.5);
    text-align: center;
    font-weight: 300;
    font-size: larger;
}

input{
    width:280px;
    border: none;
    padding: 24px;
    height: 4.8rem;
    border-radius:10px;
    background: transparent;
    border: 1px solid #c0c7cf;
    text-align: right;
    box-shadow: 1px 3px 15px rgba(255,255, 255, 0.5) ;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;

}

button{
    margin: 10px;
    width: 3.4rem;
    margin: 10px;
    height: 3.4rem;
    background: transparent;
    color: white;
    border: 1px solid #c0c7cf;
    box-shadow: 0px 1px 6px  rgba(255,255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

#result{
    background-color: orange;
    color: black;
    box-shadow: none;
}
.operator{
    color: #2fc432;
}

@media (min-width:370px) and (max-width:490px){
    body{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .calculator{
        width: 65%;
        height: 400px;
        font-size: small;
    }
    input{
        width: 100%;
        height: 10px;
        font-size: medium;
    }
    button{
        width:32px;
        height: 32px;
        font-size: small;
        margin: 5px;


    }
}

@media (min-width : 270px) and (max-width:369px) {
    .calculator{
        width:65%;
        height:350px;
        font-size: x-small;

    }
    input{
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 10px;

    }
    button{
        width: 25px;
        height: 25px;
        font-size: x-small;
        margin: 5px;
    }
    
}